@model MessangerFirst.WebUI.ViewModels.RegisterViewModel

@Html.ValidationSummary(true)

<div class="form-group">
    <div class="col-md-10">
        @Html.HiddenFor(model => model.Id)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Login, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Login)
        @Html.ValidationMessageFor(model => model.Login)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
</div>