<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Welcome to Foundation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/foundation/css")

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Header and Nav -->

    <div class="row">
        <div class="large-12 columns">
            <div class="nav-bar right">
                <ul class="button-group">
                    <li>@Html.ActionLink("Войти", "LogIn", "Account", null, new { @class = "button" })</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Header and Nav -->
    <div class="row">
        @RenderBody()
    </div>


    <!-- Footer -->

    <footer class="row">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-5 columns">
                    <p>© Copyright</p>
                </div>
                <div class="large-7 columns">
                    <ul class="inline-list right"></ul>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>
