@model MessangerFirst.WebUI.ViewModels.EditPasswordViewModel

@{
    ViewBag.Title = "Редактирование аккаунта";
}
<h2>Изменить пароль</h2>

<a href="@Url.Action("EditAccount")" class="button">Назад</a>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "data-abide" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="large-6 columns">

            <div class="large-6 columns">

                <div class="row">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="row">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>

                <div class="row">
                    <input type="submit" value="Изменить" class="button" />
                </div>

            </div>

        </div>
    </div>
}
