@model MessangerFirst.WebUI.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<h2>Регистрация</h2>


@using (Html.BeginForm("RegisterAccount", "Account", FormMethod.Post, new { @class = "data-abide" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="large-6 columns">

            <div class="row">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="row">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="row">
                @Html.LabelFor(model => model.ConfirmPassword)
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div class="row">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
            </div>

            <div class="row">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
            </div>

            <div class="row">
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.EditorFor(model => model.PhoneNumber)
            </div>

            <div class="row">
                <input type="submit" value="Создать" class="button" />
            </div>

        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
